# Exercise 1: PRAACTICE PANDAS LIBRARY ON diabetes DATASET

## Importing pandas
To begin working with pandas, import the pandas Python package as shown below. When
importing pandas, the most common alias for pandas is pd.

In [2]:
import pandas as pd

## Load Dataset

### Mounting Google Drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

### Importing csv files
Use read_csv() with the path to the CSV file to read a comma-separated values
file.

In [5]:
df=pd.read_csv('diabetes.csv')

### Importing Text Files

Reading text files is similar to CSV files. The only nuance is that you need to
specify a separator with the sep argument, as shown below.

The separator argument refers to the symbol used to separate rows in a Df.

Comma (sep = ","), whitespace(sep = "\s"), tab (sep = "\t"), and colon(sep = ":")
are the commonly used separators. Here \s represents a single white space
character.

In [ ]:
df=pd.read_csv('diabetes.txt',sep='\s')

### Importing Excel files (single sheet)

Reading excel files (both XLS and XLSX) is as easy as
the read_excel() function, using the file path as an input.

In [ ]:
df=pd.read_excel('diabetes.xlsx')

### Viewing and understanding Dfs using pandas

After reading tabular data as a Df, you would need to have a glimpse of the data. You can either
view a small sample of the dataset or a summary of the data in the form of summary statistics.

### How to view data using .head() and .tail()

You can view the first few or last few rows of a Df using the .head() or .tail() methods,
respectively. You can specify the number of rows through the n argument (the default value is
5).

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df.tail(n=9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

### Understanding data using .describe()

The .describe() method prints the summary statistics of all numeric columns, such as count,
mean, standard deviation, range, and quartiles of numeric columns.

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

You can also modify the quartiles using the percentiles argument. Here, for example, we’re
looking at the 30%, 50%, and 70% percentiles of the numeric columns in Df df

In [9]:
df.describe(percentiles=[0.3,0.5,0.7])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
30%,1.000000,102.000000,64.000000,8.200000,0.000000,28.200000,0.259000,25.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
70%,5.000000,134.000000,78.000000,31.000000,106.000000,35.490000,0.563700,38.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

You can isolate specific data types in your summary output by using the include argument.
Here, for example, we’re only summarizing the columns with the integer data type.

In [10]:
df.describe(include=[int])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,81.000000,1.000000

Try transposing them with the .T attribute.

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

### Understanding data using .info()

The .info() method is a quick way to look at the data types, missing values, and data size of a
DataFrame.. When verbose is set to True, it prints the full summary from .info().

In [12]:
df.info(show_counts=True,memory_usage=True,verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

### Understanding your data using .shape

The number of rows and columns of a DataFrame can be identified using the .shape attribute
of the DataFrame. It returns a tuple (row, column) and can be indexe

In [13]:
df.shape # Get the number of rows and columns

(768, 9)

In [14]:
df.shape[0] # Get the number of rows only

768

In [15]:
df.shape[1] # Get the number of columns onlyd to get only rows, and only columns count as output.

9

### Get all columns and column names

Calling the .columns attribute of a DataFrame object returns the column names in the form of
an Index object. As a reminder, a pandas index is the address/label of the row or column.

In [16]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

### Checking for missing values in pandas with .isnull()

The sample DataFrame does not have any missing values. Let's introduce a few to make things
interesting. The .copy() method makes a copy of the original DataFrame. This is done to ensure
that any changes to the copy don’t reflect in the original DataFrame. Using .loc (to be discussed
later), you can set rows two to five of the Pregnancies column to NaN values, which denote
missing values.

In [17]:
df2 = df.copy()

In [18]:
df2.loc[2:5,'Pregnancies'] = None
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,NaN,183,64,0,0,23.3,0.672,32,1
3,NaN,89,66,23,94,28.1,0.167,21,0
4,NaN,137,40,35,168,43.1,2.288,33,1

In [19]:
df2.head(7)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,NaN,183,64,0,0,23.3,0.672,32,1
3,NaN,89,66,23,94,28.1,0.167,21,0
4,NaN,137,40,35,168,43.1,2.288,33,1
5,NaN,116,74,0,0,25.6,0.201,30,0
6,3.0,78,50,32,88,31.0,0.248,26,1

You can check whether each element in a DataFrame is missing using the .isnull() method.

In [20]:
df2.isnull().head(7)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False
5,True,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False

Given it's often more useful to know how much missing data you have, you can
combine .isnull() with .sum() to count the number of nulls in each column.

In [21]:
df2.isnull().sum()

Pregnancies                 4
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

You can also do a double sum to get the total number of nulls in the DataFrame.

In [22]:
df2.isnull().sum().sum()

4

### Slicing and Extracting Data in pandas

The pandas package offers several ways to subset, filter, and isolate data in your DataFrames.
Here, we'll see the most common ways.

### • Isolating one column using [ ]

You can isolate a single column using a square bracket [ ] with a column name in it. The output
is a pandas Series object. A pandas Series is a one-dimensional array containing data of any
type, including integer, float, string, boolean, python objects, etc. A DataFrame is comprised
of many series that act as columns.

In [23]:
df['Outcome']

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

### Isolating two or more columns using [[ ]]

You can also provide a list of column names inside the square brackets to fetch more than one
column. Here, square brackets are used in two different ways. We use the outer square brackets
to indicate a subset of a DataFrame, and the inner square brackets to create a list.

In [24]:
df[['Pregnancies', 'Outcome']]

     Pregnancies  Outcome
0              6        1
1              1        0
2              8        1
3              1        0
4              0        1
..           ...      ...
763           10        0
764            2        0
765            5        0
766            1        1
767            1        0

[768 rows x 2 columns]

### Isolating one row using [ ]

A single row can be fetched by passing in a boolean series with one True value. In the example
below, the second row with index = 1 is returned. Here, .index returns the row labels of the
DataFrame, and the comparison turns that into a Boolean one-dimensional array.

In [25]:
df[df.index==1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0

### Isolating two or more rows using [ ]

Similarly, two or more rows can be returned using the .isin() method instead of a == operator.

In [26]:
df[df.index.isin(range(2,10))]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

### Using .loc[] and .iloc[] to fetch rows

You can fetch specific rows by labels or conditions using .loc[] and .iloc[] ("location" and
"integer location"). .loc[] uses a label to point to a row, column or cell, whereas .iloc[] uses the
numeric position. To understand the difference between the two, let’s modify the index
of df2 created earlier.

In [27]:
df2.index = range(1,769)

The below example returns a pandas Series instead of a DataFrame. The 1 represents the row
index (label), whereas the 1 in .iloc[] is the row position (first row).

In [28]:
df2.loc[1]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 1, dtype: float64

In [29]:
df2.iloc[1]

Pregnancies                  1.000
Glucose                     85.000
BloodPressure               66.000
SkinThickness               29.000
Insulin                      0.000
BMI                         26.600
DiabetesPedigreeFunction     0.351
Age                         31.000
Outcome                      0.000
Name: 2, dtype: float64

You can also fetch multiple rows by providing a range in square brackets.

In [30]:
df2.loc[100:110]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
100,1.0,122,90,51,220,49.7,0.325,31,1
101,1.0,163,72,0,0,39.0,1.222,33,1
102,1.0,151,60,0,0,26.1,0.179,22,0
103,0.0,125,96,0,0,22.5,0.262,21,0
104,1.0,81,72,18,40,26.6,0.283,24,0
105,2.0,85,65,0,0,39.6,0.930,27,0
106,1.0,126,56,29,152,28.7,0.801,21,0
107,1.0,96,122,0,0,22.4,0.207,27,0
108,4.0,144,58,28,140,29.5,0.287,37,0
109,3.0,83,58,31,18,34.3,0.336,25,0
110,0.0,95,85,25,36,37.4,0.247,24,1

You can also subset with .loc[] and .iloc[] by using a list instead of a range.

In [31]:
df2.loc[[100, 200, 300]]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
100,1.0,122,90,51,220,49.7,0.325,31,1
200,4.0,148,60,27,318,30.9,0.150,29,1
300,8.0,112,72,0,0,23.6,0.840,58,0

You can also select specific columns along with rows. This is where .iloc[] is different
from .loc[] – it requires column location and not column labels.

In [32]:
df2.loc[100:110, ['Pregnancies', 'Glucose', 'BloodPressure']]

     Pregnancies  Glucose  BloodPressure
100          1.0      122             90
101          1.0      163             72
102          1.0      151             60
103          0.0      125             96
104          1.0       81             72
105          2.0       85             65
106          1.0      126             56
107          1.0       96            122
108          4.0      144             58
109          3.0       83             58
110          0.0       95             85

For faster workflows, you can pass in the starting index of a row as a range.

In [33]:
df2.loc[760:, ['Pregnancies', 'Glucose', 'BloodPressure']]

     Pregnancies  Glucose  BloodPressure
760          6.0      190             92
761          2.0       88             58
762          9.0      170             74
763          9.0       89             62
764         10.0      101             76
765          2.0      122             70
766          5.0      121             72
767          1.0      126             60
768          1.0       93             70

### Conditional slicing (that fits certain conditions)

pandas lets you filter data by conditions over row/column values. For example, the below code
selects the row where Blood Pressure is exactly 122. Here, we are isolating rows using the
brackets [ ] as seen in previous sections. However, instead of inputting row indices or column
names, we are inputting a condition where the column BloodPressure is equal to 122. We
denote this condition using df.BloodPressure == 122.

In [34]:
df[df.BloodPressure == 122]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
106,1,96,122,0,0,22.4,0.207,27,0

The below example fetched all rows where Outcome is 1. Here df.Outcome selects that
column, df.Outcome == 1 returns a Series of Boolean values determining which Outcomes are
equal to 1, then [] takes a subset of df where that Boolean Series is True.

In [35]:
df[df.Outcome == 1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

You can use a > operator to draw comparisons. The below code fetches Pregnancies, Glucose,
and BloodPressure for all records with BloodPressure greater than 100.

In [36]:
df.loc[df['BloodPressure'] > 100, ['Pregnancies', 'Glucose', 'BloodPressure' ]]

     Pregnancies  Glucose  BloodPressure
43             9      171            110
84             5      137            108
106            1       96            122
177            0      129            110
207            5      162            104
362            5      103            108
369            1      133            102
440            0      189            104
549            4      189            110
658           11      127            106
662            8      167            106
672           10       68            106
691           13      158            114

### Data analysis in pandas

The main value proposition of pandas lies in its quick data analysis functionality. In this
section, we'll focus on a set of analysis techniques you can use in pandas.

### Summary operators (mean, mode, median)

As you saw earlier, you can get the mean of each column value using the .mean() method.

In [37]:
df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

### Create new columns based on existing columns

pandas provides fast and efficient computation by combining two or more columns like scalar
variables. The below code divides each value in the column Glucose with the corresponding
value in the Insulin column to compute a new column named Glucose_Insulin_Ratio.

In [38]:
df2['Glucose_Insulin_Ratio'] = df2['Glucose']/df2['Insulin']

In [39]:
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_Insulin_Ratio
1,6.0,148,72,35,0,33.6,0.627,50,1,inf
2,1.0,85,66,29,0,26.6,0.351,31,0,inf
3,NaN,183,64,0,0,23.3,0.672,32,1,inf
4,NaN,89,66,23,94,28.1,0.167,21,0,0.946809
5,NaN,137,40,35,168,43.1,2.288,33,1,0.815476

### Counting using .value_counts()

Often times you'll work with categorical values, and you'll want to count the number of
observations each category has in a column. Category values can be counted using the
.value_counts() methods. Here, for example, we are counting the number of observations
where Outcome is diabetic (1) and the number of observations where the Outcome is nondiabetic (0).

In [40]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

### Aggregating data with .groupby() in pandas

pandas lets you aggregate values by grouping them by specific column values. You can do that
by combining the .groupby() method with a summary method of your choice. The code below
displays the mean of each numeric column grouped by Outcome.

In [41]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

.groupby() enables grouping by more than one column by passing a list of column names, as
shown below

In [42]:
df.groupby(['Pregnancies', 'Outcome']).mean()

                        Glucose  BloodPressure  SkinThickness     Insulin  \
Pregnancies Outcome
0           0        111.945205      69.205479      21.054795   77.561644
            1        144.236842      63.210526      24.605263   89.578947
1           0        104.254717      66.830189      23.047170   84.320755
            1        143.793103      71.310345      29.517241  151.137931
2           0        105.214286      61.940476      20.107143   72.619048
            1        135.473684      69.052632      28.210526  144.315789
3           0        109.604167      65.708333      17.520833   62.020833
            1        148.444444      68.148148      24.629630  132.666667
4           0        117.555556      71.577778      18.422222   78.466667
            1        139.913043      67.000000      10.913043   51.782609
5           0        111.666667      74.666667      17.166667   46.861111
            1        131.190476      78.857143      17.761905   75.190476
6           0        115.352941      66.382353      18.705882   69.029412
            1        132.375000      72.750000      15.375000   52.000000
7           0        121.000000      70.350000      19.350000   72.500000
            1        148.800000      71.120000      21.040000   94.040000
8           0        106.625000      75.312500      12.937500   14.500000
            1        150.000000      75.090909      20.500000  149.772727
9           0        107.000000      70.400000      22.400000   71.200000
            1        144.944444      82.055556      20.055556   57.555556
10          0        117.571429      72.857143      10.571429   25.071429
            1        125.600000      66.500000      22.900000   48.400000
11          0        113.250000      81.000000      10.000000    0.000000
            1        134.000000      70.285714      28.428571  102.857143
12          0        111.000000      80.200000      24.600000   31.800000
            1        116.750000      71.500000      30.250000  213.500000
13          0        117.200000      74.400000      22.000000   50.000000
            1        133.800000      73.200000      12.600000    5.800000
14          1        137.500000      70.000000      27.500000   92.000000
15          1        136.000000      70.000000      32.000000  110.000000
17          1        163.000000      72.000000      41.000000  114.000000

                           BMI  DiabetesPedigreeFunction        Age
Pregnancies Outcome
0           0        31.727397                  0.457055  27.095890
            1        39.213158                  0.643368  28.578947
1           0        29.616038                  0.451679  25.254717
            1        37.793103                  0.613759  35.103448
2           0        29.679762                  0.479881  25.892857
            1        34.578947                  0.543737  32.947368
3           0        29.231250                  0.358354  28.770833
            1        32.548148                  0.563333  29.481481
4           0        31.255556                  0.410511  30.066667
            1        33.873913                  0.516478  38.086957
5           0        31.100000                  0.359278  39.416667
            1        36.780952                  0.460095  38.380952
6           0        29.591176                  0.433294  37.147059
            1        31.775000                  0.421500  44.000000
7           0        29.975000                  0.405500  42.500000
            1        34.756000                  0.474120  40.000000
8           0        30.693750                  0.526750  49.625000
            1        32.204545                  0.488682  42.272727
9           0        28.840000                  0.311100  46.000000
            1        33.300000                  0.683778  43.166667
10          0        30.114286                  0.411071  43.357143
            1        31.380000                  0.514500  41.700000
11          0        37.125000                  0.259000  40.750000
            1        39.385714                  0.673143  46.714286
12          0        30.560000                  0.301200  48.200000
            1        34.575000                  0.623250  46.500000
13          0        33.280000                  0.405600  46.800000
            1        36.720000                  0.521000  42.200000
14          1        35.100000                  0.312000  42.000000
15          1        37.100000                  0.153000  43.000000
17          1        40.900000                  0.817000  47.000000

Any summary method can be used alongside .groupby(),
including .min(), .max(), .mean(), .median(), .sum(), .mode(), and more.

# Exercise 2: PRACTICE PANDAS EXERCISE FROM

https://www.w3resource.com/python-exercises/pandas/index.php

# Exercise 3: Using Wine Quality dataset do the following:

1. Copy the given winequality dataset to your local folder.

2. Load the winequality dataset using pandas

In [78]:
import pandas as pd
df = pd.read_csv('WineQT.csv')

3. Find the size of the dataset

In [44]:
df.shape

(1143, 13)

4. Get the statistical summary of the data

In [45]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
count,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000
mean,8.311111,0.531339,0.268364,2.532152,0.086933,15.615486,45.914698,0.996730,3.311015,0.657708,10.442111,5.657043,804.969379
std,1.747595,0.179633,0.196686,1.355917,0.047267,10.250486,32.782130,0.001925,0.156664,0.170399,1.082196,0.805824,463.997116
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.000000
25%,7.100000,0.392500,0.090000,1.900000,0.070000,7.000000,21.000000,0.995570,3.205000,0.550000,9.500000,5.000000,411.000000
50%,7.900000,0.520000,0.250000,2.200000,0.079000,13.000000,37.000000,0.996680,3.310000,0.620000,10.200000,6.000000,794.000000
75%,9.100000,0.640000,0.420000,2.600000,0.090000,21.000000,61.000000,0.997845,3.400000,0.730000,11.100000,6.000000,1209.500000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000,1597.000000

5. Print the first and last five rows

In [46]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [47]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

6. Print the first 7 rows of the dataset.

In [48]:
df.head(7)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,6

7. Display the first 7 rows of 4th column to 6th column.

In [49]:
df.head(7).T.head(6).tail(3).T

   residual sugar  chlorides  free sulfur dioxide
0             1.9      0.076                 11.0
1             2.6      0.098                 25.0
2             2.3      0.092                 15.0
3             1.9      0.075                 17.0
4             1.9      0.076                 11.0
5             1.8      0.075                 13.0
6             1.6      0.069                 15.0

8. Select all the rows of the 3rd and 6th column

In [50]:
df[['citric acid', 'free sulfur dioxide' ]]

      citric acid  free sulfur dioxide
0            0.00                 11.0
1            0.00                 25.0
2            0.04                 15.0
3            0.56                 17.0
4            0.00                 11.0
...           ...                  ...
1138         0.13                 29.0
1139         0.08                 28.0
1140         0.08                 32.0
1141         0.10                 39.0
1142         0.12                 32.0

[1143 rows x 2 columns]

9. Check the number of null and non-null values in the dataset columns wise.

In [51]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

In [52]:
df.notnull().sum()

fixed acidity           1143
volatile acidity        1143
citric acid             1143
residual sugar          1143
chlorides               1143
free sulfur dioxide     1143
total sulfur dioxide    1143
density                 1143
pH                      1143
sulphates               1143
alcohol                 1143
quality                 1143
Id                      1143
dtype: int64

10. Rename the ph column as potential of hydrogen

In [53]:
df.rename(columns={'pH':'potential of hydrogen'}, inplace=True)

11. Create a new column named total_free ratio which is the ratio of the total sulphur
dioxide and free sulphurdioxide

In [54]:
df['total_free ratio']=df['free sulfur dioxide']/df['total sulfur dioxide']

In [55]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,potential of hydrogen,sulphates,alcohol,quality,Id,total_free ratio
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,0.323529
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1,0.373134
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2,0.277778
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3,0.283333
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4,0.323529

12. Aggregate the data based on quality

In [56]:
df.describe()['quality']

count    1143.000000
mean        5.657043
std         0.805824
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

13. Slice the data frame and create a new one such that the rows containing total_free ratio
values less than 2.7 and greater than 3.2

In [57]:
df2 = df.copy()
df2 = df2[(df2['total_free ratio'] < 2.7) | (df2['total_free ratio'] > 3.2)]

14. Drop second column values from the dataset

In [58]:
df2.drop(['volatile acidity'], inplace=True, axis=1)

In [59]:
df2

,fixed acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,potential of hydrogen,sulphates,alcohol,quality,Id,total_free ratio
0,7.4,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0,0.323529
1,7.8,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1,0.373134
2,7.8,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2,0.277778
3,11.2,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3,0.283333
4,7.4,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4,0.323529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592,0.725000
1139,6.8,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593,0.736842
1140,6.2,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594,0.727273
1141,5.9,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595,0.764706
1142,5.9,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597,0.727273

15. Sort the DataFrame first by '' in descending order, then by '' in ascending order

16. Find the sum and the cumulative sum of second attribute

In [65]:
sum_second_attribute = df['citric acid'].sum()
cumulative_sum_second_attribute = df['citric acid'].cumsum()

print(sum_second_attribute, cumulative_sum_second_attribute)

306.74 0         0.00
1         0.00
2         0.04
3         0.60
4         0.60
         ...
1138    306.36
1139    306.44
1140    306.52
1141    306.62
1142    306.74
Name: citric acid, Length: 1143, dtype: float64

17. Find the minimum and maximum of third attribute

In [66]:
minimum = df['residual sugar'].min()
maximum = df['residual sugar'].max()

print("Minimum:", minimum)
print("Maximum:", maximum)

Minimum: 0.9
Maximum: 15.5

18. Rename columns of a DataFrame

In [68]:
df.rename(columns={'potential of hydrogen': 'ph'}, inplace=True)
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'ph', 'sulphates', 'alcohol', 'quality', 'Id', 'total_free ratio'],
      dtype='object')

19. Change the order of a DataFrame columns.

In [69]:
df = df[['Id', 'fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'ph', 'sulphates', 'alcohol', 'quality', 'total_free ratio']]

20. Write a DataFrame to CSV file using tab separator.

In [70]:
df.to_csv('output_file.csv', sep='\t', index=False)

21. Replace all the NaN values with Zero's in a column of a dataframe

In [71]:
df.isnull().sum()

Id                      0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
ph                      0
sulphates               0
alcohol                 0
quality                 0
total_free ratio        0
dtype: int64

In [ ]:
df['fixed acidity'].fillna(0, inplace=True)

22. Divide a data frame in 60:40 ratio.

In [72]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.4, random_state=42)

print("Train set shape:", train_df.shape)
print("Test set shape:", test_df.shape)

Train set shape: (685, 14)
Test set shape: (458, 14)

23. Combine two series into a DataFrame.

In [74]:
import pandas as pd

series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])

df = pd.concat([series1, series2], axis=1)

print(df)

   0  1
0  1  4
1  2  5
2  3  6

24. Find the row for where the value of a first attribute is maximum.

In [79]:
max_row = df[df['residual sugar'] == df['residual sugar'].max()]
print(max_row)

     fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
339           10.6              0.28         0.39            15.5      0.069

     free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
339                  6.0                  23.0   1.0026  3.12       0.66

     alcohol  quality   Id
339      9.2        5  480

25. Get the datatypes of columns of a DataFrame.

In [80]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
Id                        int64
dtype: object